.container {
  transition: all 0.2s linear;
  border: 1px solid #fff;
  padding: 2rem;
  border-radius: 15px;
  width: 23rem;
  height: 23rem;
  margin-bottom: 2rem;

  &:hover {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background: #ffffff;
  }
}
