.App {
  background: #ffdada;
}

.body {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 3rem 0;
  height: 100%;

  h1 {
    font-size: 2.5rem;
  }
}
