.container {
  text-align: center;
  border: 1px solid #fff;
  padding: 2rem;
  border-radius: 15px;
  transition: all 0.2s linear;

  &:hover {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background: #ffffff;
  }

  h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }
  p {
    font-size: 1.1rem;
    font-weight: 300;
    margin-bottom: 1rem;
  }

  .timer {
    font-size: 2rem;
  }

  .btn_container {
    .btn {
      margin: 0 1rem;
      min-width: 5rem;
    }
  }
}
