.container {
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type='number'] {
    -moz-appearance: textfield;
  }

  .input_container {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;

    label {
      font-size: 1.1rem;
      width: 5rem;
      display: block;
      font-weight: bold;
    }

    input {
      padding: 0.5rem 1rem;
      border-radius: 15px;
      border: 1px solid #eee;
      outline: none;
      font-size: 1rem;
      width: 75%;
    }
  }

  .time {
    input {
      width: 3.25rem;
    }

    p {
      font-size: 1.1rem;
      margin: 0 0.5rem;
      font-weight: 300;
    }
  }

  .type {
    margin: 1rem 0;

    select {
      padding: 0.4rem 0.5rem;
      border-radius: 15px;
      border: 1px solid #eee;
    }
  }
  .alarm {
    margin: 1.3rem 0;

    input {
      width: 1.3rem;
      height: 1.3rem;
      border: none;
    }
  }

  .btn_container {
    display: flex;
    justify-content: space-between;

    .btn {
      margin-right: 1rem;
      margin-top: 0.4rem;
      width: 50%;
    }
  }
}
